<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Meteorologisk Institut</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    <style>
        div {
            margin-top: 50px;
        }
    </style>
</head>
<body>
    <h1>Meteorologisk Institut</h1>
    <div style="margin: 50px auto; width:600px;">
        <div id="btLoginContainer">
            <input type="text" name="email" id="username" placeholder="email" />
            <input type="password" name="password" id="password" placeholder="Password" />
            <button id="btLogin">Login</button><br>
            <label>(Use email as username)</label>
        </div>
       
        <div id="btShowMeasurementContainer">
            <button id="btShowMeasurements">Show Measurements</button>
        </div>
        
        <div id="btPostMeasurementContainer">
            <button id="btPostMeasurements">Post Measurements</button>
        </div>

        <div id="btLogoutContainer">
            <button id="btLogout">Logout</button>
        </div>
        
    </div>
    <div style="margin: 50px; background: lightgray" id="responseContainer">

    </div>

    <table class="table table-condensed table-striped table-bordered">
        <thead><tr><th>ID</th><th>Client</th><th>Location</th></tr></thead>
        <tbody>
            @*@foreach (var r in Model) {
                <tr>
                    <td>@r.ReservationId</td>
                    <td>@r.ClientName</td>
                    <td>@r.Location</td>
                </tr>}*@
        </tbody>
    </table>

    <script>
        function handleError(xhr, textStatus, errorThrown) {
            if (xhr.status == 401)
                $('#responseContainer').html("Unauthorized request");
            else {
                var message = "<p>Status code: " + xhr.status + "</p>";
                message += "<pre>" + xhr.responseText + "</pre>";
                $('#responseContainer').html(message);
            }
        }

        function isUserLoggedIn() {
            return localStorage.getItem("token") !== null;
        }

        function getSavedToken() {
            return localStorage.getItem("token");
        }

        $.ajaxSetup({
            beforeSend: function (xhr) {
                if (isUserLoggedIn()) {
                    xhr.setRequestHeader('Authorization', 'Bearer ' + getSavedToken());
                }
            }
        });

        $(function () {
            $('#btLogin').click(function () {
                $.ajax({
                    url: "/api/account/jwtlogin",
                    contentType: "application/json",
                    method: "POST",
                    data: JSON.stringify({
                        email: $('#username').val(),
                        password: $('#password').val()
                    })
                })
                    .done(function (token) {
                        localStorage.setItem("token", token);
                        $('#btLoginContainer').hide();
                        $('#btLogoutContainer').show();
                        var message = "<p>Token received and saved in local storage under the key 'token'</p>";
                        message += "<p>Token Value: </p><p style='word-wrap:break-word'>" + token + "</p>";
                        $('#responseContainer').html(message);
                    })
                    .fail(handleError);
            });

            $('#btLogout').click(function () {
                localStorage.removeItem("token");
                $('#btLogoutContainer').hide();
                $('#btRegisterContainer').show();
                $('#btLoginContainer').show();
                $('#responseContainer').html("<p>Token deleted from local storage</p>");
            });

            $('#btPostMeasurement').click(function () {
                $.ajax({
                    url: "api/Measurement",
                    contentType: "application/json",
                    method: "POST",
                    data: JSON.stringify({
                        location: $('#Measurement').val()
                    })
                })
                    .done(function (data) {
                        addTableRow(data);
                    })
                    .fail(handleError)
            });

            var addTableRow = function (measurement) {
                $("table tbody").append("<tr><td>" + measurement.measurementId + "</td><td>"
                    + measurement.user.name + "</td><td>"
                    + measurement.location + "</td></tr>");
            }

            if (isUserLoggedIn()) {
                $('#btLoginContainer').hide();
                $('#btRegisterContainer').hide();
                $('#btLogoutContainer').show();
                $('#btPostMeasurementContainer').show();
            } else {
                $('#btLoginContainer').show();
                $('#btRegisterContainer').show();
                $('#btLogoutContainer').hide();
                $('#btPostMeasurementContainer').hide();
            }
        });
    </script>
</body>
</html>
