<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Meteorologisk Institut</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    <style>
        div {
            margin-top: 50px;
        }
    </style>
</head>
<body>
    <h1>Meteorologisk Institut</h1>
    <div style="margin: 50px auto; width:600px;">
        <div id="btLoginContainer">
            <input type="text" name="email" id="username" v-model="email"  placeholder="email" />
            <input type="password" name="password" id="password" v-model="password" placeholder="Password" />
            <button id="btLogin" onclick="loginFunction();">Login</button><br>
            <label>(Use email as username)</label>
        </div>


        <div id="btLogoutContainer">
            <button id="btLogout">Logout</button>
        </div>

        <div id="btRegisterContainer">
            <input type="text" name="email" id="usernameReg" placeholder="email" />
            <input type="password" name="RegisterPassword" id="RegisterPassword" placeholder="Password" />
            <button id="btRegister" onclick="registerFunction();">Register</button><br>
            <label>(Use email as username)</label>
        </div>

        <div id="btShowMeasurementContainer">
            <button id="btShowMeasurements">Show Measurements</button>
        </div>

        <div id="btPostMeasurementContainer">
            <button id="btPostMeasurements">Post Measurements</button>
        </div>
    </div>

<script>

    function data() {
        return {
            email: null,
            password: null
        }
    }

    function handleError(xhr, textStatus, errorThrown) {
        if (xhr.status == 401)
            $('#responseContainer').html("Unauthorized request");
        else {
            var message = "<p>Status code: " + xhr.status + "</p>";
            message += "<pre>" + xhr.responseText + "</pre>";
            $('#responseContainer').html(message);
        }
    }

    function isUserLoggedIn() {
        return localStorage.getItem("token") !== null;
    }

    function getSavedToken() {
        return localStorage.getItem("token");
    }

    $.ajaxSetup({
        beforeSend: function (xhr) {
            if (isUserLoggedIn()) {
                xhr.setRequestHeader('Authorization', 'Bearer ' + getSavedToken());
            }
        }
    });


    function loginFunction() {
        fetch('/api/Account/jwtlogin',
            {
                method: "POST",
                data: JSON.stringify({
                    email: this.email,
                    password: this.password
                }),
                headers: new Headers({
                    'Content-Type': 'application/json'
                })
            }).then(res => res.json().then((token) => {
                localStorage.setItem("token", token);
            }).catch(error => console.error('Error:', error)));
    }

    function HandleErrors(response) {
        if (!response.ok) {
            throw Error(response.statusText);
        }
        return response;
    }

    function registerFunction() {
        fetch('http://localhost:61310/api/Account/Register',
            {
                method: 'POST',
                body: JSON.stringify({
                    Email: this.email,
                    Password: this.password
                }),
                headers: new Headers({
                    'Content-Type': 'application/json'
                })
            }).then(this.HandleErrors)
            .then(response => console.log(response))
            .catch(error => console.log(error));
    }

    $(function () {
            //$('#btRegister').click(function () {
            //    $.ajax({
            //        url: "/api/account/Register",
            //        contentType: "application/json",
            //        method: "POST",
            //        data: JSON.stringify({
            //            email: $('#usernameReg').val(),
            //            password: $('#RegisterPassword').val()
            //        })
            //    }).fail(handleError);
            //});

            $('#btLogout').click(function () {
                localStorage.removeItem("token");
                $('#btLogoutContainer').hide();
                $('#btRegisterContainer').show();
                $('#btLoginContainer').show();
                $('#responseContainer').html("<p>Token deleted from local storage</p>");
            });

            $('#btPostMeasurement').click(function () {
                $.ajax({
                        url: "api/Measurement",
                        contentType: "application/json",
                        method: "POST",
                        data: JSON.stringify({
                            location: $('#Measurement').val()
                        })
                    })
                    .done(function (data) {
                        addTableRow(data);
                    })
                    .fail(handleError);
            });

            var addTableRow = function (measurement) {
                $("table tbody").append("<tr><td>" + measurement.measurementId + "</td><td>"
                    + measurement.user.name + "</td><td>"
                    + measurement.location + "</td></tr>");
            }

            if (isUserLoggedIn()) {
                $('#btLoginContainer').hide();
                $('#btRegisterContainer').hide();
                $('#btLogoutContainer').show();
                $('#btPostMeasurementContainer').show();
            } else {
                $('#btLoginContainer').show();
                $('#btRegisterContainer').show();
                $('#btLogoutContainer').hide();
                $('#btPostMeasurementContainer').hide();
            }
        });
        </script>
</body>
</html>
